In [1]:
import pandas as pd
import numpy as np

In [2]:
import tensorflow
tensorflow.keras.__version__

'2.4.0'

In [3]:
!pip install sklearn --upgrade

Requirement already satisfied: sklearn in c:\users\guest1\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\guest1\anaconda3\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\guest1\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.20.3)
Requirement already satisfied: scipy>=0.19.1 in c:\users\guest1\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.6.2)
Requirement already satisfied: joblib>=0.11 in c:\users\guest1\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\guest1\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.2.0)

In [4]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [5]:
data = "../Resources/modelling.csv"
modelling = pd.read_csv(data)
modelling

,Team,Working,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD
0,A2,Y,51,F,501,189.0,Physical,Medium,RTW,2021-02-25,2020-11-06
1,C2,Y,60,M,721,42.0,Physical,Small,RTW,2021-03-15,2020-11-05
2,C2,Y,29,F,459,156.0,Physical,Small,RTW,2021-12-02,2020-11-01
3,DH,N,19,M,224,4.0,Physical,Small,No RTW,2021-11-09,2020-11-02
4,C2,N,45,F,459,154.0,Physical,Medium,No RTW,NaN,2020-11-02
...,...,...,...,...,...,...,...,...,...,...,...
3679,AV,N,50,F,219,10.0,Physical,Small,No RTW,NaN,2021-02-26
3680,C1,Y,37,F,702,99.0,Mental,Small,RTW,2021-08-23,2021-03-02
3681,C1,N,59,F,703,403.0,Mental,Small,NaN,NaN,2021-07-05
3682,B1,Y,25,M,203,6.0,Physical,Small,NaN,2021-09-27,2021-07-13
3683,A2,Y,40,M,403,60.0,Physical,Medium,NaN,2021-12-13,2021-07-26

In [6]:
model_df = modelling.dropna(subset=['Status26plus'])

In [7]:
le1 = LabelEncoder()
le2 = LabelEncoder()
le3 = LabelEncoder()
model_df.Gender = le1.fit_transform(model_df.Gender)
model_df.Physical_or_Mental_Injury = le2.fit_transform(model_df.Physical_or_Mental_Injury)
model_df.Employer_Type = le3.fit_transform(model_df.Employer_Type)
model_df

C:\Users\Guest1\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Team,Working,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD
0,A2,Y,51,0,501,189.0,1,3,RTW,2021-02-25,2020-11-06
1,C2,Y,60,1,721,42.0,1,4,RTW,2021-03-15,2020-11-05
2,C2,Y,29,0,459,156.0,1,4,RTW,2021-12-02,2020-11-01
3,DH,N,19,1,224,4.0,1,4,No RTW,2021-11-09,2020-11-02
4,C2,N,45,0,459,154.0,1,3,No RTW,NaN,2020-11-02
...,...,...,...,...,...,...,...,...,...,...,...
3675,B1,Y,55,1,721,5647.0,1,3,RTW,2021-06-14,2020-12-18
3676,B1,N,56,1,222,133.0,1,3,No RTW,2021-10-11,2021-04-08
3677,C2,Y,24,0,459,16.0,1,3,RTW,2021-07-28,2021-05-04
3679,AV,N,50,0,219,10.0,1,4,No RTW,NaN,2021-02-26
3680,C1,Y,37,0,702,99.0,0,4,RTW,2021-08-23,2021-03-02

In [8]:
X = model_df.drop(["Working", "Status26plus", "ARD", 'RTW_Date', "Team"], axis=1)
y = model_df["Working"]
#print(X.shape, y.shape)
X.shape

(2398, 6)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)
X_train.shape

(1798, 6)

In [10]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

In [12]:
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

In [13]:
# Create model and add layers
model = Sequential()
model.add(Dense(units=100, activation='relu', input_dim=6))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=100, activation='relu'))
model.add(Dense(units=2, activation='sigmoid'))

In [14]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               700
_________________________________________________________________
dense_1 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_2 (Dense)              (None, 100)               10100
_________________________________________________________________
dense_3 (Dense)              (None, 2)                 202
=================================================================
Total params: 21,102
Trainable params: 21,102
Non-trainable params: 0
_________________________________________________________________

In [16]:
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=150,
    shuffle=True,
    verbose=2
)

Epoch 1/150
57/57 - 0s - loss: 0.6199 - accuracy: 0.6730
Epoch 2/150
57/57 - 0s - loss: 0.5907 - accuracy: 0.7069
Epoch 3/150
57/57 - 0s - loss: 0.5869 - accuracy: 0.7069
Epoch 4/150
57/57 - 0s - loss: 0.5843 - accuracy: 0.7091
Epoch 5/150
57/57 - 0s - loss: 0.5790 - accuracy: 0.7075
Epoch 6/150
57/57 - 0s - loss: 0.5800 - accuracy: 0.7102
Epoch 7/150
57/57 - 0s - loss: 0.5798 - accuracy: 0.7047
Epoch 8/150
57/57 - 0s - loss: 0.5761 - accuracy: 0.7108
Epoch 9/150
57/57 - 0s - loss: 0.5770 - accuracy: 0.7130
Epoch 10/150
57/57 - 0s - loss: 0.5758 - accuracy: 0.7152
Epoch 11/150
57/57 - 0s - loss: 0.5738 - accuracy: 0.7147
Epoch 12/150
57/57 - 0s - loss: 0.5730 - accuracy: 0.7097
Epoch 13/150
57/57 - 0s - loss: 0.5732 - accuracy: 0.7186
Epoch 14/150
57/57 - 0s - loss: 0.5735 - accuracy: 0.7097
Epoch 15/150
57/57 - 0s - loss: 0.5711 - accuracy: 0.7119
Epoch 16/150
57/57 - 0s - loss: 0.5725 - accuracy: 0.7147
Epoch 17/150
57/57 - 0s - loss: 0.5698 - accuracy: 0.7141
Epoch 18/150
57/57 - 0s - loss: 0.5699 - accuracy: 0.7125
Epoch 19/150
57/57 - 0s - loss: 0.5695 - accuracy: 0.7186
Epoch 20/150
57/57 - 0s - loss: 0.5736 - accuracy: 0.7080
Epoch 21/150
57/57 - 0s - loss: 0.5699 - accuracy: 0.7169
Epoch 22/150
57/57 - 0s - loss: 0.5718 - accuracy: 0.7158
Epoch 23/150
57/57 - 0s - loss: 0.5740 - accuracy: 0.7102
Epoch 24/150
57/57 - 0s - loss: 0.5711 - accuracy: 0.7125
Epoch 25/150
57/57 - 0s - loss: 0.5680 - accuracy: 0.7147
Epoch 26/150
57/57 - 0s - loss: 0.5704 - accuracy: 0.7097
Epoch 27/150
57/57 - 0s - loss: 0.5678 - accuracy: 0.7108
Epoch 28/150
57/57 - 0s - loss: 0.5687 - accuracy: 0.7141
Epoch 29/150
57/57 - 0s - loss: 0.5663 - accuracy: 0.7158
Epoch 30/150
57/57 - 0s - loss: 0.5662 - accuracy: 0.7136
Epoch 31/150
57/57 - 0s - loss: 0.5676 - accuracy: 0.7125
Epoch 32/150
57/57 - 0s - loss: 0.5656 - accuracy: 0.7102
Epoch 33/150
57/57 - 0s - loss: 0.5659 - accuracy: 0.7125
Epoch 34/150
57/57 - 0s - loss: 0.5642 - accuracy: 0.7197
Epoch 35/150
57/57 - 0s - loss: 0.5653 - accuracy: 0.7152
Epoch 36/150
57/57 - 0s - loss: 0.5642 - accuracy: 0.7108
Epoch 37/150
57/57 - 0s - loss: 0.5647 - accuracy: 0.7125
Epoch 38/150
57/57 - 0s - loss: 0.5647 - accuracy: 0.7125
Epoch 39/150
57/57 - 0s - loss: 0.5628 - accuracy: 0.7141
Epoch 40/150
57/57 - 0s - loss: 0.5639 - accuracy: 0.7147
Epoch 41/150
57/57 - 0s - loss: 0.5652 - accuracy: 0.7125
Epoch 42/150
57/57 - 0s - loss: 0.5644 - accuracy: 0.7119
Epoch 43/150
57/57 - 0s - loss: 0.5631 - accuracy: 0.7152
Epoch 44/150
57/57 - 0s - loss: 0.5618 - accuracy: 0.7130
Epoch 45/150
57/57 - 0s - loss: 0.5608 - accuracy: 0.7130
Epoch 46/150
57/57 - 0s - loss: 0.5599 - accuracy: 0.7175
Epoch 47/150
57/57 - 0s - loss: 0.5591 - accuracy: 0.7164
Epoch 48/150
57/57 - 0s - loss: 0.5598 - accuracy: 0.7125
Epoch 49/150
57/57 - 0s - loss: 0.5623 - accuracy: 0.7164
Epoch 50/150
57/57 - 0s - loss: 0.5605 - accuracy: 0.7169
Epoch 51/150
57/57 - 0s - loss: 0.5624 - accuracy: 0.7158
Epoch 52/150
57/57 - 0s - loss: 0.5674 - accuracy: 0.7108
Epoch 53/150
57/57 - 0s - loss: 0.5574 - accuracy: 0.7197
Epoch 54/150
57/57 - 0s - loss: 0.5576 - accuracy: 0.7164
Epoch 55/150
57/57 - 0s - loss: 0.5585 - accuracy: 0.7191
Epoch 56/150
57/57 - 0s - loss: 0.5557 - accuracy: 0.7191
Epoch 57/150
57/57 - 0s - loss: 0.5563 - accuracy: 0.7191
Epoch 58/150
57/57 - 0s - loss: 0.5558 - accuracy: 0.7202
Epoch 59/150
57/57 - 0s - loss: 0.5563 - accuracy: 0.7202
Epoch 60/150
57/57 - 0s - loss: 0.5547 - accuracy: 0.7197
Epoch 61/150
57/57 - 0s - loss: 0.5575 - accuracy: 0.7191
Epoch 62/150
57/57 - 0s - loss: 0.5566 - accuracy: 0.7225
Epoch 63/150
57/57 - 0s - loss: 0.5536 - accuracy: 0.7180
Epoch 64/150
57/57 - 0s - loss: 0.5543 - accuracy: 0.7180
Epoch 65/150
57/57 - 0s - loss: 0.5536 - accuracy: 0.7236
Epoch 66/150
57/57 - 0s - loss: 0.5548 - accuracy: 0.7164
Epoch 67/150
57/57 - 0s - loss: 0.5537 - accuracy: 0.7191
Epoch 68/150
57/57 - 0s - loss: 0.5519 - accuracy: 0.7253
Epoch 69/150
57/57 - 0s - loss: 0.5518 - accuracy: 0.7180
Epoch 70/150
57/57 - 0s - loss: 0.5540 - accuracy: 0.7202
Epoch 71/150
57/57 - 0s - loss: 0.5518 - accuracy: 0.7258
Epoch 72/150
57/57 - 0s - loss: 0.5488 - accuracy: 0.7197
Epoch 73/150
57/57 - 0s - loss: 0.5487 - accuracy: 0.7214
Epoch 74/150
57/57 - 0s - loss: 0.5498 - accuracy: 0.7225
Epoch 75/150
57/57 - 0s - loss: 0.5478 - accuracy: 0.7253
Epoch 76/150
57/57 - 0s - loss: 0.5478 - accuracy: 0.7186
Epoch 77/150
57/57 - 0s - loss: 0.5509 - accuracy: 0.7208
Epoch 78/150
57/57 - 0s - loss: 0.5514 - accuracy: 0.7280
Epoch 79/150
57/57 - 0s - loss: 0.5468 - accuracy: 0.7225
Epoch 80/150
57/57 - 0s - loss: 0.5466 - accuracy: 0.7275
Epoch 81/150
57/57 - 0s - loss: 0.5483 - accuracy: 0.7291
Epoch 82/150
57/57 - 0s - loss: 0.5472 - accuracy: 0.7225
Epoch 83/150
57/57 - 0s - loss: 0.5507 - accuracy: 0.7225
Epoch 84/150
57/57 - 0s - loss: 0.5437 - accuracy: 0.7191
Epoch 85/150
57/57 - 0s - loss: 0.5448 - accuracy: 0.7258
Epoch 86/150
57/57 - 0s - loss: 0.5418 - accuracy: 0.7241
Epoch 87/150
57/57 - 0s - loss: 0.5428 - accuracy: 0.7286
Epoch 88/150
57/57 - 0s - loss: 0.5428 - accuracy: 0.7258
Epoch 89/150
57/57 - 0s - loss: 0.5441 - accuracy: 0.7230
Epoch 90/150
57/57 - 0s - loss: 0.5430 - accuracy: 0.7258
Epoch 91/150
57/57 - 0s - loss: 0.5402 - accuracy: 0.7241
Epoch 92/150
57/57 - 0s - loss: 0.5471 - accuracy: 0.7236
Epoch 93/150
57/57 - 0s - loss: 0.5426 - accuracy: 0.7175
Epoch 94/150
57/57 - 0s - loss: 0.5407 - accuracy: 0.7314
Epoch 95/150
57/57 - 0s - loss: 0.5405 - accuracy: 0.7297
Epoch 96/150
57/57 - 0s - loss: 0.5441 - accuracy: 0.7280
Epoch 97/150
57/57 - 0s - loss: 0.5442 - accuracy: 0.7191
Epoch 98/150
57/57 - 0s - loss: 0.5407 - accuracy: 0.7264
Epoch 99/150
57/57 - 0s - loss: 0.5389 - accuracy: 0.7286
Epoch 100/150
57/57 - 0s - loss: 0.5377 - accuracy: 0.7253
Epoch 101/150
57/57 - 0s - loss: 0.5376 - accuracy: 0.7308
Epoch 102/150
57/57 - 0s - loss: 0.5382 - accuracy: 0.7358
Epoch 103/150
57/57 - 0s - loss: 0.5403 - accuracy: 0.7253
Epoch 104/150
57/57 - 0s - loss: 0.5388 - accuracy: 0.7264
Epoch 105/150
57/57 - 0s - loss: 0.5339 - accuracy: 0.7291
Epoch 106/150
57/57 - 0s - loss: 0.5383 - accuracy: 0.7336
Epoch 107/150
57/57 - 0s - loss: 0.5357 - accuracy: 0.7286
Epoch 108/150
57/57 - 0s - loss: 0.5382 - accuracy: 0.7269
Epoch 109/150
57/57 - 0s - loss: 0.5388 - accuracy: 0.7325
Epoch 110/150
57/57 - 0s - loss: 0.5343 - accuracy: 0.7286
Epoch 111/150
57/57 - 0s - loss: 0.5337 - accuracy: 0.7330
Epoch 112/150
57/57 - 0s - loss: 0.5389 - accuracy: 0.7180
Epoch 113/150
57/57 - 0s - loss: 0.5318 - accuracy: 0.7291
Epoch 114/150
57/57 - 0s - loss: 0.5317 - accuracy: 0.7336
Epoch 115/150
57/57 - 0s - loss: 0.5328 - accuracy: 0.7286
Epoch 116/150
57/57 - 0s - loss: 0.5322 - accuracy: 0.7314
Epoch 117/150
57/57 - 0s - loss: 0.5343 - accuracy: 0.7275
Epoch 118/150
57/57 - 0s - loss: 0.5388 - accuracy: 0.7258
Epoch 119/150
57/57 - 0s - loss: 0.5325 - accuracy: 0.7280
Epoch 120/150
57/57 - 0s - loss: 0.5314 - accuracy: 0.7336
Epoch 121/150
57/57 - 0s - loss: 0.5302 - accuracy: 0.7230
Epoch 122/150
57/57 - 0s - loss: 0.5324 - accuracy: 0.7275
Epoch 123/150
57/57 - 0s - loss: 0.5296 - accuracy: 0.7286
Epoch 124/150
57/57 - 0s - loss: 0.5290 - accuracy: 0.7358
Epoch 125/150
57/57 - 0s - loss: 0.5270 - accuracy: 0.7336
Epoch 126/150
57/57 - 0s - loss: 0.5298 - accuracy: 0.7325
Epoch 127/150
57/57 - 0s - loss: 0.5389 - accuracy: 0.7169
Epoch 128/150
57/57 - 0s - loss: 0.5310 - accuracy: 0.7341
Epoch 129/150
57/57 - 0s - loss: 0.5272 - accuracy: 0.7241
Epoch 130/150
57/57 - 0s - loss: 0.5318 - accuracy: 0.7297
Epoch 131/150
57/57 - 0s - loss: 0.5262 - accuracy: 0.7308
Epoch 132/150
57/57 - 0s - loss: 0.5251 - accuracy: 0.7330
Epoch 133/150
57/57 - 0s - loss: 0.5247 - accuracy: 0.7358
Epoch 134/150
57/57 - 0s - loss: 0.5292 - accuracy: 0.7330
Epoch 135/150
57/57 - 0s - loss: 0.5258 - accuracy: 0.7414
Epoch 136/150
57/57 - 0s - loss: 0.5284 - accuracy: 0.7303
Epoch 137/150
57/57 - 0s - loss: 0.5236 - accuracy: 0.7314
Epoch 138/150
57/57 - 0s - loss: 0.5256 - accuracy: 0.7303
Epoch 139/150
57/57 - 0s - loss: 0.5229 - accuracy: 0.7314
Epoch 140/150
57/57 - 0s - loss: 0.5271 - accuracy: 0.7386
Epoch 141/150
57/57 - 0s - loss: 0.5223 - accuracy: 0.7303

Epoch 142/150
57/57 - 0s - loss: 0.5214 - accuracy: 0.7319
Epoch 143/150
57/57 - 0s - loss: 0.5246 - accuracy: 0.7258
Epoch 144/150
57/57 - 0s - loss: 0.5270 - accuracy: 0.7275
Epoch 145/150
57/57 - 0s - loss: 0.5188 - accuracy: 0.7358
Epoch 146/150
57/57 - 0s - loss: 0.5227 - accuracy: 0.7386
Epoch 147/150
57/57 - 0s - loss: 0.5176 - accuracy: 0.7375
Epoch 148/150
57/57 - 0s - loss: 0.5227 - accuracy: 0.7330
Epoch 149/150
57/57 - 0s - loss: 0.5230 - accuracy: 0.7319
Epoch 150/150
57/57 - 0s - loss: 0.5217 - accuracy: 0.7364

In [17]:
model_loss, model_accuracy = model.evaluate(
    X_test_scaled, y_test_categorical, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

WARNING:tensorflow:Callbacks method `on_test_batch_end` is slow compared to the batch time (batch time: 0.0000s vs `on_test_batch_end` time: 0.0010s). Check your callbacks.
19/19 - 0s - loss: 0.5858 - accuracy: 0.7150
Normal Neural Network - Loss: 0.585774302482605, Accuracy: 0.7149999737739563

In [18]:
encoded_predictions = model.predict_classes(X_test_scaled[:30])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

WARNING:tensorflow:From <ipython-input-18-443b5c504e65>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [19]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:30])}")

Predicted classes: ['Y' 'N' 'Y' 'Y' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'N' 'N' 'Y' 'Y' 'N' 'Y' 'Y'
 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y' 'Y' 'Y' 'N' 'Y' 'Y']
Actual Labels: ['Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']

In [20]:
##Model rtw outcomes
predict_df = modelling[modelling['Status26plus'].isna()]
#predict_df = predict_df[predict_df['RTW_Date'].isna()]
predict_df

,Team,Working,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD
70,AV,Y,69,M,406,259.0,Physical,Small,NaN,2021-10-25,2021-07-22
181,B2,Y,63,F,533,164.0,Physical,Small,NaN,2021-10-26,2021-06-18
1724,B2,N,41,F,542,213.0,Physical,Large,NaN,NaN,2021-06-17
2061,B1,Y,44,F,527,100.0,Physical,Government,NaN,2021-07-30,2021-06-09
2227,C1,N,53,M,542,117.0,Physical,Small,NaN,NaN,2021-07-01
...,...,...,...,...,...,...,...,...,...,...,...
3672,B1,N,52,M,526,21.0,Physical,Government,NaN,NaN,2021-09-24
3678,C2,Y,23,F,219,7.0,Physical,Medium,NaN,2021-08-03,2021-08-03
3681,C1,N,59,F,703,403.0,Mental,Small,NaN,NaN,2021-07-05
3682,B1,Y,25,M,203,6.0,Physical,Small,NaN,2021-09-27,2021-07-13
3683,A2,Y,40,M,403,60.0,Physical,Medium,NaN,2021-12-13,2021-07-26

In [21]:
predict_df.Gender = le1.fit_transform(predict_df.Gender)
predict_df.Physical_or_Mental_Injury = le2.fit_transform(predict_df.Physical_or_Mental_Injury)
predict_df.Employer_Type = le3.fit_transform(predict_df.Employer_Type)
predict_df.head(10)

C:\Users\Guest1\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Team,Working,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD
70,AV,Y,69,1,406,259.0,1,4,NaN,2021-10-25,2021-07-22
181,B2,Y,63,0,533,164.0,1,4,NaN,2021-10-26,2021-06-18
1724,B2,N,41,0,542,213.0,1,2,NaN,NaN,2021-06-17
2061,B1,Y,44,0,527,100.0,1,1,NaN,2021-07-30,2021-06-09
2227,C1,N,53,1,542,117.0,1,4,NaN,NaN,2021-07-01
2327,C1,Y,57,1,799,140.0,1,2,NaN,2021-06-07,2021-06-25
2357,DH,Y,53,1,526,62.0,1,3,NaN,2021-09-27,2021-07-12
2367,B2,N,51,1,527,18.0,1,3,NaN,NaN,2021-06-07
2368,A1,Y,24,1,149,20.0,1,3,NaN,2021-07-25,2021-06-07
2369,DH,N,41,1,149,13.0,1,3,NaN,NaN,2021-06-07

In [22]:
predict = predict_df.drop(["Working", "Status26plus", "ARD", 'RTW_Date', "Team"], axis=1)

In [23]:
predict.head()

,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type
70,69,1,406,259.0,1,4
181,63,0,533,164.0,1,4
1724,41,0,542,213.0,1,2
2061,44,0,527,100.0,1,1
2227,53,1,542,117.0,1,4

In [24]:
predict_scaler = MinMaxScaler().fit(predict)
predict_test_scaled = predict_scaler.transform(predict)
predict_test_scaled

array([[0.8030303 , 1.        , 0.3386545 , 0.10389089, 1.        ,
        1.        ],
       [0.71212121, 0.        , 0.48346636, 0.0657842 , 1.        ,
        1.        ],
       [0.37878788, 0.        , 0.49372862, 0.08543923, 1.        ,
        0.5       ],
       ...,
       [0.65151515, 0.        , 0.67730901, 0.16165263, 0.        ,
        1.        ],
       [0.13636364, 1.        , 0.10718358, 0.00240674, 1.        ,
        1.        ],
       [0.36363636, 1.        , 0.33523375, 0.02406739, 1.        ,
        0.75      ]])

In [25]:
encoded_predictions = model.predict_classes(predict_test_scaled[:])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

In [26]:
predict_df = predict_df.drop(['Working'], axis=1)
predict_df['Working'] = prediction_labels
predict_df

,Team,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD,Working
70,AV,69,1,406,259.0,1,4,NaN,2021-10-25,2021-07-22,N
181,B2,63,0,533,164.0,1,4,NaN,2021-10-26,2021-06-18,N
1724,B2,41,0,542,213.0,1,2,NaN,NaN,2021-06-17,Y
2061,B1,44,0,527,100.0,1,1,NaN,2021-07-30,2021-06-09,Y
2227,C1,53,1,542,117.0,1,4,NaN,NaN,2021-07-01,Y
...,...,...,...,...,...,...,...,...,...,...,...
3672,B1,52,1,526,21.0,1,1,NaN,NaN,2021-09-24,Y
3678,C2,23,0,219,7.0,1,3,NaN,2021-08-03,2021-08-03,Y
3681,C1,59,0,703,403.0,0,4,NaN,NaN,2021-07-05,N
3682,B1,25,1,203,6.0,1,4,NaN,2021-09-27,2021-07-13,Y
3683,A2,40,1,403,60.0,1,3,NaN,2021-12-13,2021-07-26,Y

In [27]:
predict_df.Gender = le1.inverse_transform(predict_df.Gender)
predict_df.Physical_or_Mental_Injury = le2.inverse_transform(predict_df.Physical_or_Mental_Injury)
predict_df.Employer_Type = le3.inverse_transform(predict_df.Employer_Type)
predict_df.head()

,Team,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD,Working
70,AV,69,M,406,259.0,Physical,Small,NaN,2021-10-25,2021-07-22,N
181,B2,63,F,533,164.0,Physical,Small,NaN,2021-10-26,2021-06-18,N
1724,B2,41,F,542,213.0,Physical,Large,NaN,NaN,2021-06-17,Y
2061,B1,44,F,527,100.0,Physical,Government,NaN,2021-07-30,2021-06-09,Y
2227,C1,53,M,542,117.0,Physical,Small,NaN,NaN,2021-07-01,Y

In [28]:
model_df.Gender = le1.inverse_transform(model_df.Gender)
model_df.Physical_or_Mental_Injury = le2.inverse_transform(model_df.Physical_or_Mental_Injury)
model_df.Employer_Type = le3.inverse_transform(model_df.Employer_Type)
model_df

C:\Users\Guest1\anaconda3\lib\site-packages\pandas\core\generic.py:5507: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,Team,Working,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD
0,A2,Y,51,F,501,189.0,Physical,Medium,RTW,2021-02-25,2020-11-06
1,C2,Y,60,M,721,42.0,Physical,Small,RTW,2021-03-15,2020-11-05
2,C2,Y,29,F,459,156.0,Physical,Small,RTW,2021-12-02,2020-11-01
3,DH,N,19,M,224,4.0,Physical,Small,No RTW,2021-11-09,2020-11-02
4,C2,N,45,F,459,154.0,Physical,Medium,No RTW,NaN,2020-11-02
...,...,...,...,...,...,...,...,...,...,...,...
3675,B1,Y,55,M,721,5647.0,Physical,Medium,RTW,2021-06-14,2020-12-18
3676,B1,N,56,M,222,133.0,Physical,Medium,No RTW,2021-10-11,2021-04-08
3677,C2,Y,24,F,459,16.0,Physical,Medium,RTW,2021-07-28,2021-05-04
3679,AV,N,50,F,219,10.0,Physical,Small,No RTW,NaN,2021-02-26
3680,C1,Y,37,F,702,99.0,Mental,Small,RTW,2021-08-23,2021-03-02

In [29]:
predict_df.head()

,Team,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD,Working
70,AV,69,M,406,259.0,Physical,Small,NaN,2021-10-25,2021-07-22,N
181,B2,63,F,533,164.0,Physical,Small,NaN,2021-10-26,2021-06-18,N
1724,B2,41,F,542,213.0,Physical,Large,NaN,NaN,2021-06-17,Y
2061,B1,44,F,527,100.0,Physical,Government,NaN,2021-07-30,2021-06-09,Y
2227,C1,53,M,542,117.0,Physical,Small,NaN,NaN,2021-07-01,Y

In [30]:
working_df = modelling[modelling['Status26plus'].isna()]
working_df = working_df.dropna(subset=['RTW_Date'])
working_df

,Team,Working,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD
70,AV,Y,69,M,406,259.0,Physical,Small,NaN,2021-10-25,2021-07-22
181,B2,Y,63,F,533,164.0,Physical,Small,NaN,2021-10-26,2021-06-18
2061,B1,Y,44,F,527,100.0,Physical,Government,NaN,2021-07-30,2021-06-09
2327,C1,Y,57,M,799,140.0,Physical,Large,NaN,2021-06-07,2021-06-25
2357,DH,Y,53,M,526,62.0,Physical,Medium,NaN,2021-09-27,2021-07-12
...,...,...,...,...,...,...,...,...,...,...,...
3665,A1,Y,45,F,531,11.0,Physical,Large,NaN,2021-10-13,2021-09-30
3667,C1,Y,38,M,119,10.0,Physical,Small,NaN,2021-12-20,2021-09-30
3678,C2,Y,23,F,219,7.0,Physical,Medium,NaN,2021-08-03,2021-08-03
3682,B1,Y,25,M,203,6.0,Physical,Small,NaN,2021-09-27,2021-07-13
3683,A2,Y,40,M,403,60.0,Physical,Medium,NaN,2021-12-13,2021-07-26

In [31]:
merged_df = pd.concat([predict_df, model_df])
merged_df

,Team,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD,Working
70,AV,69,M,406,259.0,Physical,Small,NaN,2021-10-25,2021-07-22,N
181,B2,63,F,533,164.0,Physical,Small,NaN,2021-10-26,2021-06-18,N
1724,B2,41,F,542,213.0,Physical,Large,NaN,NaN,2021-06-17,Y
2061,B1,44,F,527,100.0,Physical,Government,NaN,2021-07-30,2021-06-09,Y
2227,C1,53,M,542,117.0,Physical,Small,NaN,NaN,2021-07-01,Y
...,...,...,...,...,...,...,...,...,...,...,...
3675,B1,55,M,721,5647.0,Physical,Medium,RTW,2021-06-14,2020-12-18,Y
3676,B1,56,M,222,133.0,Physical,Medium,No RTW,2021-10-11,2021-04-08,N
3677,C2,24,F,459,16.0,Physical,Medium,RTW,2021-07-28,2021-05-04,Y
3679,AV,50,F,219,10.0,Physical,Small,No RTW,NaN,2021-02-26,N
3680,C1,37,F,702,99.0,Mental,Small,RTW,2021-08-23,2021-03-02,Y

In [32]:
merged_df["ARD"] = merged_df["ARD"].apply(pd.to_datetime)
merged_df

,Team,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD,Working
70,AV,69,M,406,259.0,Physical,Small,NaN,2021-10-25,2021-07-22,N
181,B2,63,F,533,164.0,Physical,Small,NaN,2021-10-26,2021-06-18,N
1724,B2,41,F,542,213.0,Physical,Large,NaN,NaN,2021-06-17,Y
2061,B1,44,F,527,100.0,Physical,Government,NaN,2021-07-30,2021-06-09,Y
2227,C1,53,M,542,117.0,Physical,Small,NaN,NaN,2021-07-01,Y
...,...,...,...,...,...,...,...,...,...,...,...
3675,B1,55,M,721,5647.0,Physical,Medium,RTW,2021-06-14,2020-12-18,Y
3676,B1,56,M,222,133.0,Physical,Medium,No RTW,2021-10-11,2021-04-08,N
3677,C2,24,F,459,16.0,Physical,Medium,RTW,2021-07-28,2021-05-04,Y
3679,AV,50,F,219,10.0,Physical,Small,No RTW,NaN,2021-02-26,N
3680,C1,37,F,702,99.0,Mental,Small,RTW,2021-08-23,2021-03-02,Y

In [33]:
merged_df["ARD"] = merged_df["ARD"].dt.strftime("%m/%y")
merged_df.dtypes

Team                          object
Age                            int64
Gender                        object
Injury_Code                    int64
Lodgement_Gap                float64
Physical_or_Mental_Injury     object
Employer_Type                 object
Status26plus                  object
RTW_Date                      object
ARD                           object
Working                       object
dtype: object

In [34]:
merged_df

,Team,Age,Gender,Injury_Code,Lodgement_Gap,Physical_or_Mental_Injury,Employer_Type,Status26plus,RTW_Date,ARD,Working
70,AV,69,M,406,259.0,Physical,Small,NaN,2021-10-25,07/21,N
181,B2,63,F,533,164.0,Physical,Small,NaN,2021-10-26,06/21,N
1724,B2,41,F,542,213.0,Physical,Large,NaN,NaN,06/21,Y
2061,B1,44,F,527,100.0,Physical,Government,NaN,2021-07-30,06/21,Y
2227,C1,53,M,542,117.0,Physical,Small,NaN,NaN,07/21,Y
...,...,...,...,...,...,...,...,...,...,...,...
3675,B1,55,M,721,5647.0,Physical,Medium,RTW,2021-06-14,12/20,Y
3676,B1,56,M,222,133.0,Physical,Medium,No RTW,2021-10-11,04/21,N
3677,C2,24,F,459,16.0,Physical,Medium,RTW,2021-07-28,05/21,Y
3679,AV,50,F,219,10.0,Physical,Small,No RTW,NaN,02/21,N
3680,C1,37,F,702,99.0,Mental,Small,RTW,2021-08-23,03/21,Y

In [35]:
merged_df_rtw = merged_df.loc[(merged_df['Working']=="Y")]

monthly_rtw = merged_df_rtw.groupby(["ARD"])
month_rtw_count = monthly_rtw['Working'].count()
monthly_rtw_df = pd.DataFrame({"RTW":month_rtw_count}).reset_index()

merged_df_nortw = merged_df.loc[(merged_df['Working']=="N")]

monthly_nortw = merged_df_nortw.groupby(["ARD"])
month_nortw_count = monthly_nortw['Working'].count()
monthly_nortw_df = pd.DataFrame({"No_RTW":month_nortw_count}).reset_index()

In [36]:
merged_monthly_df = monthly_rtw_df.merge(monthly_nortw_df, how="outer", on="ARD")
merged_monthly_df

      ARD  RTW  No_RTW
0   01/21  167      86
1   02/21  234     131
2   03/21  271     117
3   04/21  205     111
4   05/21  242     111
5   06/21  255      81
6   07/21  313      81
7   08/21  284      64
8   09/21  219      46
9   11/20  243      94
10  12/20  229     100

In [37]:
merged_monthly_df["rtw_pct"] = merged_monthly_df["RTW"] / (merged_monthly_df["RTW"] + merged_monthly_df["No_RTW"])

      ARD  RTW  No_RTW   rtw_pct
0   01/21  167      86  0.660079
1   02/21  234     131  0.641096
2   03/21  271     117  0.698454
3   04/21  205     111  0.648734
4   05/21  242     111  0.685552
5   06/21  255      81  0.758929
6   07/21  313      81  0.794416
7   08/21  284      64  0.816092
8   09/21  219      46  0.826415
9   11/20  243      94  0.721068
10  12/20  229     100  0.696049

In [39]:
merged_monthly_df.sort_values(by="ARD", ascending=False)

      ARD  RTW  No_RTW   rtw_pct
0   01/21  167      86  0.660079
1   02/21  234     131  0.641096
2   03/21  271     117  0.698454
3   04/21  205     111  0.648734
4   05/21  242     111  0.685552
5   06/21  255      81  0.758929
6   07/21  313      81  0.794416
7   08/21  284      64  0.816092
8   09/21  219      46  0.826415
9   11/20  243      94  0.721068
10  12/20  229     100  0.696049

In [38]:
merged_monthly_df.to_csv('../Resources/final.csv', index=False)