In [1]:
# Import Dependencies
import os
import csv
import pandas as pd
import numpy as np

In [2]:
# Import CSV, read into pandas and display head
tasks_file = "../Resources/EE - MRTW0026A - RTW Index - Back at Work 26 Weeks - Details and Stats.xlsx"
RTW26_df = pd.read_excel(tasks_file, sheet_name="26 weeks")
RTW26_df.head(20)

,X C H A N G I N G,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,26 Weeks Back at Work - MONTHLY Report,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Agent Received Date Range (Measure Period): 01...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fex/Program name: mrtw0026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Run Date: 01/01/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Refresh Date: 31/12/2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,\n\n\nClaim\nID,\n\n\nWorker\nName,\n\n\nEmployer\nName,\n\n\n\nTeam,\n\n\nMDM\nTeam,\n\n\nCase\nManager,\n\nAgent\nReceived\nDate,\n\n\nDeath\nDate,\n\n\nEmployer\nNumber,\n\n\nCompensation\nDays,...,\n\nStatus\nExplanation\n@ 26 Weeks,\n\n\nStatus\n@ 26 Weeks,\n\n\nResumed\nDate,Latest\nWork Status\nEffective\nStart\nDate,Resumed Work\nLast\nStatus\nUpdate\nDate,\n\n+3Wks\nFull Payment(1)\nFlag,\n\n+3Wks\nPart Payment(2)\nFlag,\n\n+3Wks\nFull Payment(3)\nFlag,\nStatus\nExplanation\n@ 26 Weeks\n+3 Weeks,\n\nStatus\n@ 26 Weeks\n+3 Weeks
8,04200021847,Samantha Giling,INTERCHANGE OUTER EAST INC,M1,A2,NaN,2020-11-06 00:00:00,NaN,1854378,50,...,RTW coded and working,RTW,NaN,2021-02-25 00:00:00,2021-02-25 00:00:00,N,N,N,RTW coded and working,RTW
9,04200022901,Barry Farley,ON SITE CLEAN UP & EARTHWORKS P/L,M2,C2,Quynh Nguyen,2020-11-05 00:00:00,NaN,13359007,35,...,< 8 weeks compensation paid - RTW,RTW,2021-03-15 00:00:00,2021-03-25 00:00:00,2021-03-25 00:00:00,N,N,N,< 8 weeks compensation paid - RTW,RTW
10,04200025555,Renee Cerncic,GW RETAIL P/L,C2,C2,Lisa Sandford,2020-11-01 00:00:00,NaN,15954950,163,...,RTW coded and working,RTW,NaN,2021-12-03 00:00:00,2021-12-03 00:00:00,N,N,N,RTW coded and working,RTW
11,04200025665,Kaecy Van De Nadort,MKM BRICKLAYING P/L,M1,DH,Sarra Bakheit,2020-11-02 00:00:00,NaN,14148369,79,...,No RTW coded,No RTW,2021-04-01 00:00:00,2021-11-23 00:00:00,2021-11-23 00:00:00,N,N,N,No RTW coded,No RTW
12,04200025762,Kym Stewart,EDITH BENDALL LODGE,C2,C2,NaN,2020-11-02 00:00:00,NaN,5487990,333,...,No RTW coded,No RTW,NaN,2021-02-23 00:00:00,2021-08-16 00:00:00,Y,Y,N,Weekly compensation (1) paid 3 weeks post meas...,No RTW
13,04200025924,Curt Mcdougall,HENDERSON PROVINCIAL MEDIA P/L,M1,B1,Raquel Usher,2020-11-04 00:00:00,NaN,11936053,190,...,No RTW coded,No RTW,2021-10-06 00:00:00,2021-09-29 00:00:00,2021-09-29 00:00:00,N,N,Y,Weekly compensation (3) paid 3 weeks post meas...,No RTW
14,04200026156,Christopher Mant,SKYWAY CARGO P/L,A2,A2,Alexandra Traversa,2020-11-04 00:00:00,NaN,12050909,519,...,RTW coded and working,RTW,2021-03-09 00:00:00,2021-12-22 00:00:00,2021-12-22 00:00:00,N,N,N,RTW coded and working,RTW
15,04200026172,David Kniese,INDUCTABEND P/L,M1,A2,NaN,2020-11-04 00:00:00,NaN,5705478,47,...,RTW coded and working,RTW,NaN,2020-11-24 00:00:00,2020-11-24 00:00:00,N,N,N,RTW coded and working,RTW
16,04200026253,Billie Rodda,"FLIEDNER, BRIGA & SHANE",M1,AV,Samera Idris,2020-11-05 00:00:00,NaN,6575801,147,...,No RTW coded,No RTW,2021-05-24 00:00:00,2021-08-23 00:00:00,2021-08-23 00:00:00,N,N,Y,Weekly compensation (3) paid 3 weeks post meas...,No RTW
17,04200026282,Anna Gasperini,HOSPITALITY PERFORMANCE LEADERS P/L,A1,A1,Marcus Bubis,2020-11-04 00:00:00,NaN,15030887,303,...,No RTW coded,No RTW,NaN,2020-11-06 00:00:00,2020-11-06 00:00:00,Y,Y,N,Weekly compensation (1) paid 3 weeks post meas...,No RTW
18,04200026321,Bobby Duong,SSS AUTO PARTS P/L,M2,C2,Ruby Barry,2020-11-05 00:00:00,NaN,2553746,93,...,RTW coded and working,RTW,NaN,2021-03-22 00:00:00,2021-03-22 00:00:00,N,N,N,RTW coded and working,RTW
19,04200026350,Ronald Clydesdale,NATIONAL FIRE SOLUTIONS (VIC) P/L,M1,DH,Sarra Bakheit,2020-11-05 00:00:00,NaN,5037311,30,...,< 8 weeks compensation paid - RTW,RTW,2021-02-02 00:00:00,2020-12-17 00:00:00,2020-12-17 00:00:00,N,N,N,< 8 weeks compensation paid - RTW,RTW

In [3]:
RTW26_df=RTW26_df.drop([0,1,2,3,4,5,6])
RTW26_df.head(10)

,X C H A N G I N G,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
7,\n\n\nClaim\nID,\n\n\nWorker\nName,\n\n\nEmployer\nName,\n\n\n\nTeam,\n\n\nMDM\nTeam,\n\n\nCase\nManager,\n\nAgent\nReceived\nDate,\n\n\nDeath\nDate,\n\n\nEmployer\nNumber,\n\n\nCompensation\nDays,...,\n\nStatus\nExplanation\n@ 26 Weeks,\n\n\nStatus\n@ 26 Weeks,\n\n\nResumed\nDate,Latest\nWork Status\nEffective\nStart\nDate,Resumed Work\nLast\nStatus\nUpdate\nDate,\n\n+3Wks\nFull Payment(1)\nFlag,\n\n+3Wks\nPart Payment(2)\nFlag,\n\n+3Wks\nFull Payment(3)\nFlag,\nStatus\nExplanation\n@ 26 Weeks\n+3 Weeks,\n\nStatus\n@ 26 Weeks\n+3 Weeks
8,04200021847,Samantha Giling,INTERCHANGE OUTER EAST INC,M1,A2,NaN,2020-11-06 00:00:00,NaN,1854378,50,...,RTW coded and working,RTW,NaN,2021-02-25 00:00:00,2021-02-25 00:00:00,N,N,N,RTW coded and working,RTW
9,04200022901,Barry Farley,ON SITE CLEAN UP & EARTHWORKS P/L,M2,C2,Quynh Nguyen,2020-11-05 00:00:00,NaN,13359007,35,...,< 8 weeks compensation paid - RTW,RTW,2021-03-15 00:00:00,2021-03-25 00:00:00,2021-03-25 00:00:00,N,N,N,< 8 weeks compensation paid - RTW,RTW
10,04200025555,Renee Cerncic,GW RETAIL P/L,C2,C2,Lisa Sandford,2020-11-01 00:00:00,NaN,15954950,163,...,RTW coded and working,RTW,NaN,2021-12-03 00:00:00,2021-12-03 00:00:00,N,N,N,RTW coded and working,RTW
11,04200025665,Kaecy Van De Nadort,MKM BRICKLAYING P/L,M1,DH,Sarra Bakheit,2020-11-02 00:00:00,NaN,14148369,79,...,No RTW coded,No RTW,2021-04-01 00:00:00,2021-11-23 00:00:00,2021-11-23 00:00:00,N,N,N,No RTW coded,No RTW
12,04200025762,Kym Stewart,EDITH BENDALL LODGE,C2,C2,NaN,2020-11-02 00:00:00,NaN,5487990,333,...,No RTW coded,No RTW,NaN,2021-02-23 00:00:00,2021-08-16 00:00:00,Y,Y,N,Weekly compensation (1) paid 3 weeks post meas...,No RTW
13,04200025924,Curt Mcdougall,HENDERSON PROVINCIAL MEDIA P/L,M1,B1,Raquel Usher,2020-11-04 00:00:00,NaN,11936053,190,...,No RTW coded,No RTW,2021-10-06 00:00:00,2021-09-29 00:00:00,2021-09-29 00:00:00,N,N,Y,Weekly compensation (3) paid 3 weeks post meas...,No RTW
14,04200026156,Christopher Mant,SKYWAY CARGO P/L,A2,A2,Alexandra Traversa,2020-11-04 00:00:00,NaN,12050909,519,...,RTW coded and working,RTW,2021-03-09 00:00:00,2021-12-22 00:00:00,2021-12-22 00:00:00,N,N,N,RTW coded and working,RTW
15,04200026172,David Kniese,INDUCTABEND P/L,M1,A2,NaN,2020-11-04 00:00:00,NaN,5705478,47,...,RTW coded and working,RTW,NaN,2020-11-24 00:00:00,2020-11-24 00:00:00,N,N,N,RTW coded and working,RTW
16,04200026253,Billie Rodda,"FLIEDNER, BRIGA & SHANE",M1,AV,Samera Idris,2020-11-05 00:00:00,NaN,6575801,147,...,No RTW coded,No RTW,2021-05-24 00:00:00,2021-08-23 00:00:00,2021-08-23 00:00:00,N,N,Y,Weekly compensation (3) paid 3 weeks post meas...,No RTW

In [4]:
RTW26_df.columns=RTW26_df.iloc[0]
RTW26_df.head()

7,\n\n\nClaim\nID,\n\n\nWorker\nName,\n\n\nEmployer\nName,\n\n\n\nTeam,\n\n\nMDM\nTeam,\n\n\nCase\nManager,\n\nAgent\nReceived\nDate,\n\n\nDeath\nDate,\n\n\nEmployer\nNumber,\n\n\nCompensation\nDays,...,\n\nStatus\nExplanation\n@ 26 Weeks,\n\n\nStatus\n@ 26 Weeks,\n\n\nResumed\nDate,Latest\nWork Status\nEffective\nStart\nDate,Resumed Work\nLast\nStatus\nUpdate\nDate,\n\n+3Wks\nFull Payment(1)\nFlag,\n\n+3Wks\nPart Payment(2)\nFlag,\n\n+3Wks\nFull Payment(3)\nFlag,\nStatus\nExplanation\n@ 26 Weeks\n+3 Weeks,\n\nStatus\n@ 26 Weeks\n+3 Weeks
7,\n\n\nClaim\nID,\n\n\nWorker\nName,\n\n\nEmployer\nName,\n\n\n\nTeam,\n\n\nMDM\nTeam,\n\n\nCase\nManager,\n\nAgent\nReceived\nDate,\n\n\nDeath\nDate,\n\n\nEmployer\nNumber,\n\n\nCompensation\nDays,...,\n\nStatus\nExplanation\n@ 26 Weeks,\n\n\nStatus\n@ 26 Weeks,\n\n\nResumed\nDate,Latest\nWork Status\nEffective\nStart\nDate,Resumed Work\nLast\nStatus\nUpdate\nDate,\n\n+3Wks\nFull Payment(1)\nFlag,\n\n+3Wks\nPart Payment(2)\nFlag,\n\n+3Wks\nFull Payment(3)\nFlag,\nStatus\nExplanation\n@ 26 Weeks\n+3 Weeks,\n\nStatus\n@ 26 Weeks\n+3 Weeks
8,04200021847,Samantha Giling,INTERCHANGE OUTER EAST INC,M1,A2,NaN,2020-11-06 00:00:00,NaN,1854378,50,...,RTW coded and working,RTW,NaN,2021-02-25 00:00:00,2021-02-25 00:00:00,N,N,N,RTW coded and working,RTW
9,04200022901,Barry Farley,ON SITE CLEAN UP & EARTHWORKS P/L,M2,C2,Quynh Nguyen,2020-11-05 00:00:00,NaN,13359007,35,...,< 8 weeks compensation paid - RTW,RTW,2021-03-15 00:00:00,2021-03-25 00:00:00,2021-03-25 00:00:00,N,N,N,< 8 weeks compensation paid - RTW,RTW
10,04200025555,Renee Cerncic,GW RETAIL P/L,C2,C2,Lisa Sandford,2020-11-01 00:00:00,NaN,15954950,163,...,RTW coded and working,RTW,NaN,2021-12-03 00:00:00,2021-12-03 00:00:00,N,N,N,RTW coded and working,RTW
11,04200025665,Kaecy Van De Nadort,MKM BRICKLAYING P/L,M1,DH,Sarra Bakheit,2020-11-02 00:00:00,NaN,14148369,79,...,No RTW coded,No RTW,2021-04-01 00:00:00,2021-11-23 00:00:00,2021-11-23 00:00:00,N,N,N,No RTW coded,No RTW

In [5]:
RTW26_df=RTW26_df.drop([7])
RTW26_df.head()

7,\n\n\nClaim\nID,\n\n\nWorker\nName,\n\n\nEmployer\nName,\n\n\n\nTeam,\n\n\nMDM\nTeam,\n\n\nCase\nManager,\n\nAgent\nReceived\nDate,\n\n\nDeath\nDate,\n\n\nEmployer\nNumber,\n\n\nCompensation\nDays,...,\n\nStatus\nExplanation\n@ 26 Weeks,\n\n\nStatus\n@ 26 Weeks,\n\n\nResumed\nDate,Latest\nWork Status\nEffective\nStart\nDate,Resumed Work\nLast\nStatus\nUpdate\nDate,\n\n+3Wks\nFull Payment(1)\nFlag,\n\n+3Wks\nPart Payment(2)\nFlag,\n\n+3Wks\nFull Payment(3)\nFlag,\nStatus\nExplanation\n@ 26 Weeks\n+3 Weeks,\n\nStatus\n@ 26 Weeks\n+3 Weeks
8,04200021847,Samantha Giling,INTERCHANGE OUTER EAST INC,M1,A2,NaN,2020-11-06 00:00:00,NaN,1854378,50,...,RTW coded and working,RTW,NaN,2021-02-25 00:00:00,2021-02-25 00:00:00,N,N,N,RTW coded and working,RTW
9,04200022901,Barry Farley,ON SITE CLEAN UP & EARTHWORKS P/L,M2,C2,Quynh Nguyen,2020-11-05 00:00:00,NaN,13359007,35,...,< 8 weeks compensation paid - RTW,RTW,2021-03-15 00:00:00,2021-03-25 00:00:00,2021-03-25 00:00:00,N,N,N,< 8 weeks compensation paid - RTW,RTW
10,04200025555,Renee Cerncic,GW RETAIL P/L,C2,C2,Lisa Sandford,2020-11-01 00:00:00,NaN,15954950,163,...,RTW coded and working,RTW,NaN,2021-12-03 00:00:00,2021-12-03 00:00:00,N,N,N,RTW coded and working,RTW
11,04200025665,Kaecy Van De Nadort,MKM BRICKLAYING P/L,M1,DH,Sarra Bakheit,2020-11-02 00:00:00,NaN,14148369,79,...,No RTW coded,No RTW,2021-04-01 00:00:00,2021-11-23 00:00:00,2021-11-23 00:00:00,N,N,N,No RTW coded,No RTW
12,04200025762,Kym Stewart,EDITH BENDALL LODGE,C2,C2,NaN,2020-11-02 00:00:00,NaN,5487990,333,...,No RTW coded,No RTW,NaN,2021-02-23 00:00:00,2021-08-16 00:00:00,Y,Y,N,Weekly compensation (1) paid 3 weeks post meas...,No RTW

In [6]:
RTW26_df=RTW26_df.drop(columns=["\n\n\nWorker\nName", "\n\n\n\nTeam", "\n\n\nCase\nManager", "\n\n\nDeath\nDate",
                                "\n\nSuspension\nStart\nDate", "\n\nPayment\nEnd\nDate", "Resumed Work\nLast\nStatus\nUpdate\nDate",
                                "\n\n+3Wks\nFull Payment(3)\nFlag", "Weekly\nCompensation\nPaid\nFrom\nDate", "\n\n\nTermination\nFlag",
                                "\n\n\nSuspension\nFlag", "Latest\nWork Status\nEffective\nStart\nDate", "\n\n\nWIC\nCode", "Full\nWeekly\nPayment\nType 1\nFlag",
                                "Part\nWeekly\nPayment\nType 2\nFlag", "Full\nWeekly\nPayment\nType 3\nFlag", "\n\n+3Wks\nFull Payment(1)\nFlag", 
                                "\n\n+3Wks\nPart Payment(2)\nFlag", "\nClaim\nClassification\nChanged\nDate", "Wrk/Sts\nEffective\nfrom\nDate\nLatest",
                                "\n\nSuspenstion\nEnd\nDate", "\n\n\nResumed\nDate", "\n\nTermination\nStart\nDate", "\n\nTermination\nEnd\nDate",
                                "\n\nFirst\nCeased\nDate", "\n\nRTW\nDate\nLatest"
                               ])
RTW26_df.head()

7,\n\n\nClaim\nID,\n\n\nEmployer\nName,\n\n\nMDM\nTeam,\n\nAgent\nReceived\nDate,\n\n\nEmployer\nNumber,\n\n\nCompensation\nDays,\n\nClaim\nLodged\nDate,\n\n\nInjury\nCode,\nPhysical\nor\nMental\nInjury,\n\nMeasure\nDate\n@ 26 Weeks,\n\nRTW\nType\nLatest,\n\n\nWorking\nFlag,\n\nStatus\nExplanation\n@ 26 Weeks,\n\n\nStatus\n@ 26 Weeks,\nStatus\nExplanation\n@ 26 Weeks\n+3 Weeks,\n\nStatus\n@ 26 Weeks\n+3 Weeks
8,04200021847,INTERCHANGE OUTER EAST INC,A2,2020-11-06 00:00:00,1854378,50,2020-11-10 00:00:00,501,Physical,2021-05-07 00:00:00,F,Y,RTW coded and working,RTW,RTW coded and working,RTW
9,04200022901,ON SITE CLEAN UP & EARTHWORKS P/L,C2,2020-11-05 00:00:00,13359007,35,2020-11-11 00:00:00,721,Physical,2021-05-07 00:00:00,F,Y,< 8 weeks compensation paid - RTW,RTW,< 8 weeks compensation paid - RTW,RTW
10,04200025555,GW RETAIL P/L,C2,2020-11-01 00:00:00,15954950,163,2020-11-01 00:00:00,459,Physical,2021-05-07 00:00:00,P,Y,RTW coded and working,RTW,RTW coded and working,RTW
11,04200025665,MKM BRICKLAYING P/L,DH,2020-11-02 00:00:00,14148369,79,2020-11-02 00:00:00,224,Physical,2021-05-07 00:00:00,P,N,No RTW coded,No RTW,No RTW coded,No RTW
12,04200025762,EDITH BENDALL LODGE,C2,2020-11-02 00:00:00,5487990,333,2020-11-02 00:00:00,459,Physical,2021-05-07 00:00:00,NaN,N,No RTW coded,No RTW,Weekly compensation (1) paid 3 weeks post meas...,No RTW

In [7]:
RTW26_df = RTW26_df.rename(columns={"\n\n\nClaim\nID":"Claim", "\n\n\nEmployer\nName":"Employer_Name", "\n\n\nMDM\nTeam":"Team",
                                    "\n\nAgent\nReceived\nDate":"ARD", "\n\n\nCompensation\nDays":"Days_Compensation",
                                    "\n\nClaim\nLodged\nDate":"Claim_Lodged_Date", "\n\n\nInjury\nCode":"Injury_Code",
                                    "\nPhysical\nor\nMental\nInjury":"Physical_or_Mental_Injury", 
                                    "\n\nMeasure\nDate\n@ 26 Weeks":"Measure_Date", "\n\nRTW\nType\nLatest":"RTW_Type",
                                    "\n\n\nWorking\nFlag":"Working", "\n\n\nEmployer\nNumber":"Employer_Number",
                                    "\n\nStatus\nExplanation\n@ 26 Weeks":"Description", "n\n\nStatus\n@ 26 Weeks":"Status@26", 
                                    "\n\nStatus\n@ 26 Weeks\n+3 Weeks":"Status@26+3weeks"
                                    })
RTW26_df.head()

7,Claim,Employer_Name,Team,ARD,Employer_Number,Days_Compensation,Claim_Lodged_Date,Injury_Code,Physical_or_Mental_Injury,Measure_Date,RTW_Type,Working,Description,\n\n\nStatus\n@ 26 Weeks,\nStatus\nExplanation\n@ 26 Weeks\n+3 Weeks,Status@26+3weeks
8,04200021847,INTERCHANGE OUTER EAST INC,A2,2020-11-06 00:00:00,1854378,50,2020-11-10 00:00:00,501,Physical,2021-05-07 00:00:00,F,Y,RTW coded and working,RTW,RTW coded and working,RTW
9,04200022901,ON SITE CLEAN UP & EARTHWORKS P/L,C2,2020-11-05 00:00:00,13359007,35,2020-11-11 00:00:00,721,Physical,2021-05-07 00:00:00,F,Y,< 8 weeks compensation paid - RTW,RTW,< 8 weeks compensation paid - RTW,RTW
10,04200025555,GW RETAIL P/L,C2,2020-11-01 00:00:00,15954950,163,2020-11-01 00:00:00,459,Physical,2021-05-07 00:00:00,P,Y,RTW coded and working,RTW,RTW coded and working,RTW
11,04200025665,MKM BRICKLAYING P/L,DH,2020-11-02 00:00:00,14148369,79,2020-11-02 00:00:00,224,Physical,2021-05-07 00:00:00,P,N,No RTW coded,No RTW,No RTW coded,No RTW
12,04200025762,EDITH BENDALL LODGE,C2,2020-11-02 00:00:00,5487990,333,2020-11-02 00:00:00,459,Physical,2021-05-07 00:00:00,NaN,N,No RTW coded,No RTW,Weekly compensation (1) paid 3 weeks post meas...,No RTW

In [8]:
RTW26_df.to_csv('../Resources/RTW26.csv', index=False)

PermissionError: [Errno 13] Permission denied: '../Resources/RTW26.csv'

In [12]:
team_MIrtw_df = RTW26_df.loc[(RTW26_df["Working"]=='Y')]
team_MIrtw_df.head()

NameError: name 'teamMIrtw_df' is not defined