In [1]:
import numpy as np
import os
import csv
import pandas as pd

In [2]:
rtw_df = pd.read_csv("26_week_B@W.csv")
rtw_df.head()

FileNotFoundError: [Errno 2] No such file or directory: '26_week_B@W.csv'

In [3]:
rtw_df = rtw_df.rename(columns={"Employer Name":"Employer", "\n\n\nMDM\nTeam":"MDM Team", "\n\nAgent\nReceived\nDate":"ARD", 
                               "\n\nStatus\n@ 26 Weeks\n+3 Weeks":"RTW Status", "\nPhysical\nor\nMental\nInjury":"Injury Type",
                               "Weekly\nCompensation\nPaid\nFrom\nDate":"Comp Paid"})
rtw_df.head()

,Employer,MDM Team,\n\n\nCase\nManager,ARD,Comp Paid,Injury Type,\n\nFirst\nCeased\nDate,\n\nRTW\nDate\nLatest,\n\nRTW\nType\nLatest,Wrk/Sts\nEffective\nfrom\nDate\nLatest,...,\n\nStatus\nExplanation\n@ 26 Weeks,\n\n\nStatus\n@ 26 Weeks,\n\n\nResumed\nDate,Latest\nWork Status\nEffective\nStart\nDate,Resumed Work\nLast\nStatus\nUpdate\nDate,\n\n+3Wks\nFull Payment(1)\nFlag,\n\n+3Wks\nPart Payment(2)\nFlag,\n\n+3Wks\nFull Payment(3)\nFlag,\nStatus\nExplanation\n@ 26 Weeks\n+3 Weeks,RTW Status
0,INTERCHANGE OUTER EAST INC,A2,NaN,06/11/2020,31/12/2020,Physical,15/12/2020,25/02/2021,F,25/02/2021,...,RTW coded and working,RTW,NaN,25/02/2021,25/02/2021,N,N,N,RTW coded and working,RTW
1,ON SITE CLEAN UP & EARTHWORKS P/L,C2,Raoul Zambelli,05/11/2020,08/02/2021,Physical,24/01/2021,15/03/2021,F,25/03/2021,...,< 8 weeks compensation paid - RTW,RTW,15/03/2021,25/03/2021,25/03/2021,N,N,N,< 8 weeks compensation paid - RTW,RTW
2,GW RETAIL P/L,C2,Lisa Sandford,01/11/2020,22/10/2020,Physical,19/10/2020,NaN,NaN,05/07/2021,...,RTW coded and working,RTW,NaN,05/07/2021,05/07/2021,N,N,N,RTW coded and working,RTW
3,MKM BRICKLAYING P/L,DH,Jeyshika Sharma,02/11/2020,13/11/2020,Physical,30/10/2020,NaN,NaN,26/02/2021,...,No RTW coded,No RTW,01/04/2021,26/02/2021,26/02/2021,N,N,N,No RTW coded,No RTW
4,EDITH BENDALL LODGE,C2,Betty Vasilakis,02/11/2020,18/09/2020,Physical,02/09/2020,NaN,NaN,23/02/2021,...,No RTW coded,No RTW,NaN,23/02/2021,16/08/2021,Y,Y,N,Weekly compensation (1) paid 3 weeks post meas...,No RTW

In [4]:
small_df = rtw_df[["Employer", "MDM Team", "ARD", "RTW Status", "Injury Type", "Comp Paid"]]
small_df.head()

,Employer,MDM Team,ARD,RTW Status,Injury Type,Comp Paid
0,INTERCHANGE OUTER EAST INC,A2,06/11/2020,RTW,Physical,31/12/2020
1,ON SITE CLEAN UP & EARTHWORKS P/L,C2,05/11/2020,RTW,Physical,08/02/2021
2,GW RETAIL P/L,C2,01/11/2020,RTW,Physical,22/10/2020
3,MKM BRICKLAYING P/L,DH,02/11/2020,No RTW,Physical,13/11/2020
4,EDITH BENDALL LODGE,C2,02/11/2020,No RTW,Physical,18/09/2020

In [5]:
MI_list_df = small_df.loc[(small_df["Injury Type"]=="Mental")]
MI_list = MI_list_df.groupby(["Employer", "MDM Team"])
MI_count_emp = MI_list["Injury Type"].count()

MI_df = pd.DataFrame({"MI Claims Count": MI_count_emp})
MI_df.sort_values("MI Claims Count", ascending=False).head()

                                                           MI Claims Count
Employer                                         MDM Team
AMBULANCE VICTORIA                               AV                     97
DEPARTMENT OF FAMILIES, FAIRNESS AND    HOUSING  A1                     22
BALLARAT HEALTH SERVICES                         C1                     16
DEPARTMENT OF ENVIRONMENT, LAND, WATER &PLANNING B1                     14
EASTERN HEALTH                                   A1                     12

In [6]:
rtw_list_df = MI_list_df.loc[(small_df["RTW Status"]=="RTW")]
rtw_list = rtw_list_df.groupby(["Employer", "MDM Team"])
rtw_count_emp = rtw_list["RTW Status"].count()

rtw_count_df = pd.DataFrame({"RTW Count": rtw_count_emp}).reset_index()
rtw_count_df.head()

                                        Employer MDM Team  RTW Count
0                   AIRPORT WEST REAL ESTATE P/L       AV          1
1                             AMBULANCE VICTORIA       AV         23
2                         ANDROMEDA NOMINEES P/L       DH          1
3                ARUMA SERVICES VICTORIA LIMITED       C1          3
4  AUSTRALIAN RAIL, TRAM & BUS INDUSTRY    UNION       A2          1

In [7]:
nortw_list_df = MI_list_df.loc[(small_df["RTW Status"]=="No RTW")]
nortw_list = nortw_list_df.groupby(["Employer", "MDM Team"])
nortw_count_emp = nortw_list["RTW Status"].count()

no_rtw_count_df = pd.DataFrame({"No RTW Count": nortw_count_emp}).reset_index()
no_rtw_count_df.head()

                               Employer MDM Team  No RTW Count
0  ABILITY PLUS DISABILITY SERVICES P/L       AV             1
1                         AIRWALLEX P/L       DH             1
2                 ALBURY WODONGA HEALTH       C3             1
3                      ALLCOTT HIRE P/L       C1             1
4                    AMBULANCE VICTORIA       AV            19

In [8]:
merged_df = rtw_count_df.merge(no_rtw_count_df, on=["Employer","MDM Team"], how="outer").fillna(0)
merged_df["RTW Percentage"] = round(merged_df["RTW Count"] / (merged_df["RTW Count"] + merged_df["No RTW Count"]) * 100, 2)
merged_df

,Employer,MDM Team,RTW Count,No RTW Count,RTW Percentage
0,AIRPORT WEST REAL ESTATE P/L,AV,1.0,0.0,100.00
1,AMBULANCE VICTORIA,AV,23.0,19.0,54.76
2,ANDROMEDA NOMINEES P/L,DH,1.0,0.0,100.00
3,ARUMA SERVICES VICTORIA LIMITED,C1,3.0,1.0,75.00
4,"AUSTRALIAN RAIL, TRAM & BUS INDUSTRY UNION",A2,1.0,1.0,50.00
...,...,...,...,...,...
119,THE POLICE ASSOCIATION,DH,0.0,1.0,0.00
120,THE WALTER & ELIZA HALL INSTITUTE OF MEDICA...,A1,0.0,1.0,0.00
121,UNITING (VICTORIA AND TASMANIA) LIMITED,B1,0.0,2.0,0.00
122,VICTORIA LEGAL AID,DH,0.0,1.0,0.00
123,VITALITY BRANDS WORLDWIDE P/L,B2,0.0,1.0,0.00

In [9]:
final_df = MI_df.merge(merged_df, on=["Employer","MDM Team"], how = "inner").reset_index()
final_df.sort_values("MI Claims Count", ascending=False).head(30)

,index,Employer,MDM Team,MI Claims Count,RTW Count,No RTW Count,RTW Percentage
5,5,AMBULANCE VICTORIA,AV,97,23.0,19.0,54.76
37,37,"DEPARTMENT OF FAMILIES, FAIRNESS AND HOUSING",A1,22,6.0,6.0,50.00
15,15,BALLARAT HEALTH SERVICES,C1,16,4.0,3.0,57.14
36,36,"DEPARTMENT OF ENVIRONMENT, LAND, WATER &PLANNING",B1,14,2.0,4.0,33.33
118,118,UNITING (VICTORIA AND TASMANIA) LIMITED,B1,12,0.0,2.0,0.00
42,42,EASTERN HEALTH,A1,12,3.0,1.0,75.00
38,38,DEPARTMENT OF HEALTH,A1,10,3.0,1.0,75.00
65,65,HOME@SCOPE P/L,C1,8,2.0,2.0,50.00
82,82,MELBOURNE HEALTH,B2,6,1.0,1.0,50.00
39,39,DEPARTMENT OF TRANSPORT,B1,6,0.0,2.0,0.00
113,113,THE GEO GROUP AUSTRALIA P/L,B1,6,0.0,3.0,0.00
90,90,NORTHERN HEALTH,DH,5,1.0,0.0,100.00
10,10,ARUMA SERVICES VICTORIA LIMITED,C1,5,3.0,1.0,75.00
81,81,MELBA SUPPORT SERVICES AUSTRALIA LTD,C1,5,3.0,1.0,75.00
30,30,CHISHOLM INSTITUTE,A2,5,1.0,3.0,25.00
47,47,ERMHA LTD,AV,4,1.0,3.0,25.00
89,89,NORTH RICHMOND COMMUNITY HEALTH LIMITED,A2,4,0.0,1.0,0.00
119,119,UNITING AGEWELL LTD,A2,4,1.0,1.0,50.00
32,32,CORRECT CARE AUSTRALASIA P/L,B1,4,0.0,1.0,0.00
101,101,SAFE STEPS FAMILY VIOLENCE RESPONSE CENTRE,B2,3,1.0,0.0,100.00
91,91,OPTIA LIMITED,C1,3,0.0,1.0,0.00
46,46,EPWORTH FOUNDATION,DH,3,1.0,1.0,50.00
86,86,MORELAND CITY COUNCIL,B2,3,0.0,1.0,0.00
85,85,MOONEE VALLEY CITY COUNCIL,AV,3,0.0,1.0,0.00
73,73,L S PRECAST P/L,AV,3,1.0,1.0,50.00
19,19,BENDIGO HEALTH,C3,3,0.0,2.0,0.00
121,121,VICTORIAN INSTITUTE OF FORENSIC MENTAL HEALTH,B2,3,2.0,0.0,100.00
80,80,MEGT (AUSTRALIA) LTD,B2,2,0.0,1.0,0.00
13,13,"AUSTRALIAN RAIL, TRAM & BUS INDUSTRY UNION",A2,2,1.0,1.0,50.00
61,61,HAULOTTE AUSTRALIA P/L,DH,2,1.0,0.0,100.00

In [10]:
team_list = MI_list_df.groupby(["MDM Team"])
team_MI_count = team_list["Injury Type"].count()

team_df = pd.DataFrame({"MI Claims Count": team_MI_count})
team_df.sort_values("MI Claims Count", ascending=False).head(9)

          MI Claims Count
MDM Team
AV                    120
B1                     78
A1                     65
C1                     60
B2                     54
A2                     44
C2                     41
DH                     39
C3                     13

In [26]:
team_rtw_df = small_df.loc[(small_df["RTW Status"]=="RTW")]
rtw_list = team_rtw_df.groupby(["MDM Team"])
rtw_count_team = rtw_list["RTW Status"].count()

rtw_team_df = pd.DataFrame({"RTW": rtw_count_team}).reset_index()
rtw_team_df

  MDM Team  RTW
0       A1  109
1       A2  121
2       AV  156
3       B1  124
4       B2   95
5       C1   90
6       C2   88
7       C3   10
8       DH  121

In [27]:
team_nortw_df = small_df.loc[(small_df["RTW Status"]=="No RTW")]
nortw_list = team_nortw_df.groupby(["MDM Team"])
nortw_count_team = nortw_list["RTW Status"].count()

nortw_team_df = pd.DataFrame({"No RTW": nortw_count_team}).reset_index()
nortw_team_df

  MDM Team  No RTW
0       A1      36
1       A2      61
2       AV      57
3       B1      53
4       B2      59
5       C1      42
6       C2      42
7       C3      16
8       DH      53

In [28]:
team_merged_df = rtw_team_df.merge(nortw_team_df, on=["MDM Team"], how="outer")
team_merged_df["RTW Percentage"] = round(team_merged_df["RTW"] / (team_merged_df["RTW"] + team_merged_df["No RTW"]) * 100, 2)
team_merged_df

  MDM Team  RTW  No RTW  RTW Percentage
0       A1  109      36           75.17
1       A2  121      61           66.48
2       AV  156      57           73.24
3       B1  124      53           70.06
4       B2   95      59           61.69
5       C1   90      42           68.18
6       C2   88      42           67.69
7       C3   10      16           38.46
8       DH  121      53           69.54