In [1]:
# Import Dependencies
import os
import csv
import pandas as pd
import numpy as np
from functools import reduce

In [5]:
# Import CSV, read into pandas and display head
tasks_file = "../Resources/EE - MRTW0026A - RTW Index - Back at Work 26 Weeks - Details and Stats.xlsx"
RTW26_df = pd.read_excel(tasks_file, sheet_name="26 weeks")

In [6]:
RTW26_df=RTW26_df.drop([0,1,2,3,4,5,6])

In [7]:
RTW26_df.columns=RTW26_df.iloc[0]

In [8]:
RTW26_df=RTW26_df.drop([7])

In [80]:
RTW26_df=RTW26_df.drop(columns=["\n\n\nWorker\nName", "\n\n\n\nTeam", "\n\n\nCase\nManager", "\n\n\nDeath\nDate",
                                "\n\nSuspension\nStart\nDate", "\n\nPayment\nEnd\nDate", "Resumed Work\nLast\nStatus\nUpdate\nDate",
                                "\n\n+3Wks\nFull Payment(3)\nFlag", "Weekly\nCompensation\nPaid\nFrom\nDate", "\n\n\nTermination\nFlag",
                                "\n\n\nSuspension\nFlag", "Latest\nWork Status\nEffective\nStart\nDate", "\n\n\nWIC\nCode", "Full\nWeekly\nPayment\nType 1\nFlag",
                                "Part\nWeekly\nPayment\nType 2\nFlag", "Full\nWeekly\nPayment\nType 3\nFlag", "\n\n+3Wks\nFull Payment(1)\nFlag", 
                                "\n\n+3Wks\nPart Payment(2)\nFlag", "\nClaim\nClassification\nChanged\nDate", "Wrk/Sts\nEffective\nfrom\nDate\nLatest",
                                "\n\nSuspenstion\nEnd\nDate", "\n\n\nResumed\nDate", "\n\nTermination\nStart\nDate", "\n\nTermination\nEnd\nDate",
                                "\n\nFirst\nCeased\nDate", "\n\nRTW\nDate\nLatest"
                               ])
RTW26_df.head()

7,\n\n\nClaim\nID,\n\n\nEmployer\nName,\n\n\nMDM\nTeam,\n\nAgent\nReceived\nDate,\n\n\nEmployer\nNumber,\n\n\nCompensation\nDays,\n\nClaim\nLodged\nDate,\n\n\nInjury\nCode,\nPhysical\nor\nMental\nInjury,\n\nMeasure\nDate\n@ 26 Weeks,\n\nRTW\nType\nLatest,\n\n\nWorking\nFlag,\n\nStatus\nExplanation\n@ 26 Weeks,\n\n\nStatus\n@ 26 Weeks,\nStatus\nExplanation\n@ 26 Weeks\n+3 Weeks,\n\nStatus\n@ 26 Weeks\n+3 Weeks
8,04200021847,INTERCHANGE OUTER EAST INC,A2,2020-11-06 00:00:00,1854378,50,2020-11-10 00:00:00,501,Physical,2021-05-07 00:00:00,F,Y,RTW coded and working,RTW,RTW coded and working,RTW
9,04200022901,ON SITE CLEAN UP & EARTHWORKS P/L,C2,2020-11-05 00:00:00,13359007,35,2020-11-11 00:00:00,721,Physical,2021-05-07 00:00:00,F,Y,< 8 weeks compensation paid - RTW,RTW,< 8 weeks compensation paid - RTW,RTW
10,04200025555,GW RETAIL P/L,C2,2020-11-01 00:00:00,15954950,163,2020-11-01 00:00:00,459,Physical,2021-05-07 00:00:00,P,Y,RTW coded and working,RTW,RTW coded and working,RTW
11,04200025665,MKM BRICKLAYING P/L,DH,2020-11-02 00:00:00,14148369,79,2020-11-02 00:00:00,224,Physical,2021-05-07 00:00:00,P,N,No RTW coded,No RTW,No RTW coded,No RTW
12,04200025762,EDITH BENDALL LODGE,C2,2020-11-02 00:00:00,5487990,333,2020-11-02 00:00:00,459,Physical,2021-05-07 00:00:00,NaN,N,No RTW coded,No RTW,Weekly compensation (1) paid 3 weeks post meas...,No RTW

In [84]:
RTW26_df = RTW26_df.rename(columns={"\n\n\nClaim\nID":"Claim", "\n\n\nEmployer\nName":"Employer_Name", "\n\n\nMDM\nTeam":"Team",
                                    "\n\nAgent\nReceived\nDate":"ARD", "\n\n\nCompensation\nDays":"Days_Compensation",
                                    "\n\nClaim\nLodged\nDate":"Claim_Lodged_Date", "\n\n\nInjury\nCode":"Injury_Code",
                                    "\nPhysical\nor\nMental\nInjury":"Physical_or_Mental_Injury", 
                                    "\n\nMeasure\nDate\n@ 26 Weeks":"Measure_Date", "\n\nRTW\nType\nLatest":"RTW_Type",
                                    "\n\n\nWorking\nFlag":"Working", "\n\n\nEmployer\nNumber":"Employer_Number",
                                    "\n\nStatus\nExplanation\n@ 26 Weeks":"Description", "\n\n\nStatus\n@ 26 Weeks":"Status@26", 
                                    "\n\nStatus\n@ 26 Weeks\n+3 Weeks":"Status26plus"
                                    })
RTW26_df.head()

7,Claim,Employer_Name,Team,ARD,Employer_Number,Days_Compensation,Claim_Lodged_Date,Injury_Code,Physical_or_Mental_Injury,Measure_Date,RTW_Type,Working,Description,Status@26,\nStatus\nExplanation\n@ 26 Weeks\n+3 Weeks,Status26plus
8,04200021847,INTERCHANGE OUTER EAST INC,A2,2020-11-06 00:00:00,1854378,50,2020-11-10 00:00:00,501,Physical,2021-05-07 00:00:00,F,Y,RTW coded and working,RTW,RTW coded and working,RTW
9,04200022901,ON SITE CLEAN UP & EARTHWORKS P/L,C2,2020-11-05 00:00:00,13359007,35,2020-11-11 00:00:00,721,Physical,2021-05-07 00:00:00,F,Y,< 8 weeks compensation paid - RTW,RTW,< 8 weeks compensation paid - RTW,RTW
10,04200025555,GW RETAIL P/L,C2,2020-11-01 00:00:00,15954950,163,2020-11-01 00:00:00,459,Physical,2021-05-07 00:00:00,P,Y,RTW coded and working,RTW,RTW coded and working,RTW
11,04200025665,MKM BRICKLAYING P/L,DH,2020-11-02 00:00:00,14148369,79,2020-11-02 00:00:00,224,Physical,2021-05-07 00:00:00,P,N,No RTW coded,No RTW,No RTW coded,No RTW
12,04200025762,EDITH BENDALL LODGE,C2,2020-11-02 00:00:00,5487990,333,2020-11-02 00:00:00,459,Physical,2021-05-07 00:00:00,NaN,N,No RTW coded,No RTW,Weekly compensation (1) paid 3 weeks post meas...,No RTW

In [90]:
RTW26_df.to_csv('../Resources/RTW26.csv', index=False)

In [89]:
rtw_df = RTW26_df.loc[(RTW26_df["Working"]=='Y')]

MIrtw_df = rtw_df.loc[(rtw_df["Physical_or_Mental_Injury"]=="Mental")]
MIrtw_df = MIrtw_df.dropna(subset = ['Status26plus'])
teamMIrtw = MIrtw_df.groupby(["Team"])
teamMIrtwCount = teamMIrtw["Status26plus"].count()
teamMIrtw_df = pd.DataFrame({"MI_rtw": teamMIrtwCount}).reset_index()

physicalRTW_df = rtw_df.loc[(rtw_df["Physical_or_Mental_Injury"]=="Physical")]
physicalRTW_df = physicalRTW_df.dropna(subset = ['Status26plus'])
teamPhysical_rtw = physicalRTW_df.groupby(["Team"])
teamPhysicalrtwCount = teamPhysical_rtw["Status26plus"].count()
teamPhysicalrtw_df = pd.DataFrame({"Physical_rtw": teamPhysicalrtwCount}).reset_index()

noRTW_df = RTW26_df.loc[(RTW26_df["Working"]=='N')]

MInortw_df = noRTW_df.loc[(noRTW_df["Physical_or_Mental_Injury"]=="Mental")]
MInortw_df = MInortw_df.dropna(subset = ['Status26plus'])
teamMInortw = MInortw_df.groupby(["Team"])
teamMInortwCount = teamMInortw["Status26plus"].count()
teamMInortw_df = pd.DataFrame({"MI_nortw": teamMInortwCount}).reset_index()

physical_nortw_df = noRTW_df.loc[(noRTW_df["Physical_or_Mental_Injury"]=="Physical")]
physical_nortw_df = physical_nortw_df.dropna(subset = ['Status26plus'])
teamPhysical_nortw = physical_nortw_df.groupby(["Team"])
teamPhysicalnortwCount = teamPhysical_nortw["Status26plus"].count()
teamPhysicalnortw_df = pd.DataFrame({"Physical_nortw": teamPhysicalnortwCount}).reset_index()

teamPhysicalnortw_df

  Team  Physical_nortw
0   A1              50
1   A2              87
2   AV              39
3   B1              51
4   B2              73
5   C1              46
6   C2              63
7   C3              48
8   DH              81

In [66]:
data_frames = [teamMIrtw_df, teamPhysicalrtw_df, teamMInortw_df, teamPhysicalnortw_df]

merged_df = reduce(lambda  left,right: pd.merge(left,right,on=['Team'],
                                            how='outer'), data_frames)
merged_df

  Team  MI_rtw  Physical_rtw  MI_nortw  Physical_nortw
0   A1       8           164        18              50
1   A2      13           191        21              87
2   AV      51           210        31              39
3   B1      24           193        37              51
4   B2      16           159        24              73
5   C1      23           140        28              46
6   C2      11           128        19              63
7   C3      17            84        42              48
8   DH      15           178        15              81

In [72]:
merged_df["MI_RTW"] = round(merged_df["MI_rtw"]/(merged_df["MI_rtw"]+merged_df["MI_nortw"])*100,2)
merged_df["Phys_RTW"] = round(merged_df["Physical_rtw"]/(merged_df["Physical_rtw"]+merged_df["Physical_nortw"])*100,2)
merged_df["Total_RTW"] = round((merged_df["Physical_rtw"]+merged_df["MI_rtw"])
                                  /(merged_df["Physical_rtw"]+merged_df["Physical_nortw"]+merged_df["MI_rtw"]+merged_df["MI_nortw"])
                                 *100,2)

merged_df

,Team,MI_rtw,Physical_rtw,MI_nortw,Physical_nortw,MI_RTW,Phys_RTW,Total_RTW
0,A1,8,164,18,50,30.77,76.64,71.67
1,A2,13,191,21,87,38.24,68.71,65.38
2,AV,51,210,31,39,62.20,84.34,78.85
3,B1,24,193,37,51,39.34,79.10,71.15
4,B2,16,159,24,73,40.00,68.53,64.34
5,C1,23,140,28,46,45.10,75.27,68.78
6,C2,11,128,19,63,36.67,67.02,62.90
7,C3,17,84,42,48,28.81,63.64,52.88
8,DH,15,178,15,81,50.00,68.73,66.78

In [74]:
merged_df.to_csv('../Resources/team_RTW26.csv', index=False)