In [18]:
# Import Dependencies
import os
import csv
import pandas as pd
import numpy as np

In [19]:
# Import CSV, read into pandas and display head
tasks_file = "../Resources/Novus_Daily_Tasks.xls"
overdue_tasks_df = pd.read_excel(tasks_file, sheet_name="Overdue_List")
overdue_tasks_df.head(20)

,X C H A N G I N G,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Tasks OVERDUE Report - Detailed List (Due on o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fex/Pgm Name : dcmg0100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Run Date : 14/01/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Refresh Date : 13/01/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,\n\n\nTeam,\n\nAcction\nUser-ID,\nTask\nRole\nName,\n\nTask\nName,\n\n\nClaim,\n\nCreation\nDate,\n\nDue \nDate,\n\nDays \nOverdue,Officer\nTask \nLast \nUpdated
7,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Certificate Registered,08210030378,2022-01-13 00:00:00,2022-01-12 00:00:00,1,Kim Dinh
8,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Process Weekly Compensation Payment,08210032211,2021-12-16 00:00:00,2022-01-07 00:00:00,6,Odol Ojolo
9,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Query Certificate,08210011575,2022-01-10 00:00:00,2022-01-12 00:00:00,1,Amalyna Abdul Malek
10,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Claim Administration,08190061564,2022-01-06 00:00:00,2022-01-04 00:00:00,9,Chad Cope
11,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Claim Administration,08210027417,2022-01-12 00:00:00,2022-01-11 00:00:00,2,Filenet Integration User
12,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Claim Administration,08210027417,2022-01-13 00:00:00,2022-01-12 00:00:00,1,Filenet Integration User
13,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Current Weekly Earnings,08210025419,2022-01-13 00:00:00,2022-01-12 00:00:00,1,Jacob Coventry-Poole
14,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Medical and Like,04200039428,2022-01-12 00:00:00,2022-01-11 00:00:00,2,Filenet Integration User
15,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Medical and Like,08200024569,2022-01-07 00:00:00,2022-01-06 00:00:00,7,Filenet Integration User
16,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Medical and Like,08200024569,2022-01-10 00:00:00,2022-01-10 00:00:00,3,Filenet Integration User
17,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Medical and Like,08200024569,2022-01-12 00:00:00,2022-01-10 00:00:00,3,Stephanie LeNoury
18,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Medical and Like,08200064943,2022-01-13 00:00:00,2022-01-13 00:00:00,0,Filenet Integration User
19,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Medical and Like,08200064943,2022-01-13 00:00:00,2022-01-13 00:00:00,0,Filenet Integration User

In [20]:
overdue_tasks_df = overdue_tasks_df.drop([0,1,2,3,4,5])
overdue_tasks_df.head()

,X C H A N G I N G,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
6,\n\n\nTeam,\n\nAcction\nUser-ID,\nTask\nRole\nName,\n\nTask\nName,\n\n\nClaim,\n\nCreation\nDate,\n\nDue \nDate,\n\nDays \nOverdue,Officer\nTask \nLast \nUpdated
7,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Certificate Registered,08210030378,2022-01-13 00:00:00,2022-01-12 00:00:00,1,Kim Dinh
8,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Process Weekly Compensation Payment,08210032211,2021-12-16 00:00:00,2022-01-07 00:00:00,6,Odol Ojolo
9,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Query Certificate,08210011575,2022-01-10 00:00:00,2022-01-12 00:00:00,1,Amalyna Abdul Malek
10,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Claim Administration,08190061564,2022-01-06 00:00:00,2022-01-04 00:00:00,9,Chad Cope

In [21]:
overdue_tasks_df.columns=overdue_tasks_df.iloc[0]

In [22]:
overdue_tasks_df=overdue_tasks_df.drop([6])
overdue_tasks_df.head()

6,\n\n\nTeam,\n\nAcction\nUser-ID,\nTask\nRole\nName,\n\nTask\nName,\n\n\nClaim,\n\nCreation\nDate,\n\nDue \nDate,\n\nDays \nOverdue,Officer\nTask \nLast \nUpdated
7,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Certificate Registered,08210030378,2022-01-13 00:00:00,2022-01-12 00:00:00,1,Kim Dinh
8,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Process Weekly Compensation Payment,08210032211,2021-12-16 00:00:00,2022-01-07 00:00:00,6,Odol Ojolo
9,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Query Certificate,08210011575,2022-01-10 00:00:00,2022-01-12 00:00:00,1,Amalyna Abdul Malek
10,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Claim Administration,08190061564,2022-01-06 00:00:00,2022-01-04 00:00:00,9,Chad Cope
11,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Claim Administration,08210027417,2022-01-12 00:00:00,2022-01-11 00:00:00,2,Filenet Integration User

In [23]:
overdue_tasks_df.shape

(3961, 9)

In [27]:
overdue_tasks_df = overdue_tasks_df.rename(columns={"\n\n\nTeam":"Team", "\nTask\nRole\nName":"Role_Name",
                                                    "\n\nTask\nName":"Task_Name", "\n\n\nClaim":"Claim", 
                                                    "\n\nCreation\nDate":"Creation_Date", "\n\nDue \nDate":"Due_Date",
                                                    "\n\nDays \nOverdue":"Days_Overdue"})
overdue_tasks_df.head()

6,Team,\n\nAcction\nUser-ID,Role_Name,Task_Name,Claim,Creation_Date,Due_Date,Days_Overdue,Officer\nTask \nLast \nUpdated
7,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Certificate Registered,08210030378,2022-01-13 00:00:00,2022-01-12 00:00:00,1,Kim Dinh
8,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Process Weekly Compensation Payment,08210032211,2021-12-16 00:00:00,2022-01-07 00:00:00,6,Odol Ojolo
9,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Query Certificate,08210011575,2022-01-10 00:00:00,2022-01-12 00:00:00,1,Amalyna Abdul Malek
10,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Claim Administration,08190061564,2022-01-06 00:00:00,2022-01-04 00:00:00,9,Chad Cope
11,A1,A08????,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Claim Administration,08210027417,2022-01-12 00:00:00,2022-01-11 00:00:00,2,Filenet Integration User

In [30]:
str_col = ["Team", "Role_Name", "Task_Name", "Claim", "Creation_Date", "Due_Date", "Days_Overdue"]
overdue_tasks_df=overdue_tasks_df[str_col]
overdue_tasks_df.head()

6,Team,Role_Name,Task_Name,Claim,Creation_Date,Due_Date,Days_Overdue
7,A1,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Certificate Registered,08210030378,2022-01-13 00:00:00,2022-01-12 00:00:00,1
8,A1,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Process Weekly Compensation Payment,08210032211,2021-12-16 00:00:00,2022-01-07 00:00:00,6
9,A1,10617_RETURN TO WORK CLAIMS PROCESSOR,CRT: Query Certificate,08210011575,2022-01-10 00:00:00,2022-01-12 00:00:00,1
10,A1,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Claim Administration,08190061564,2022-01-06 00:00:00,2022-01-04 00:00:00,9
11,A1,10617_RETURN TO WORK CLAIMS PROCESSOR,DOC: Claim Administration,08210027417,2022-01-12 00:00:00,2022-01-11 00:00:00,2

In [34]:
overdue_tasks_df.to_csv('../Resources/OverdueTasks.csv')